.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo h1 {
  font-size: 2rem;
  font-weight: 400;
}

.buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.buttons button {
  background-color: #d9d9d9;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.buttons button:hover {
  background-color: #c4c4c4;
}

.buttons a {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  background-color: #000000;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  color: #f0efeb;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.3s ease;
}

.buttons a:hover {
  background-color: #181818;
}

@media screen and (max-width: 440px) {
  .header {
    padding: 2rem;
  }
}
